<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css
">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js
" defer></script>


    <title>GoDrive</title>
</head>

<body>
    <!-- nabvar starts from here -->
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="./about.html">
                <img src="/images/logo.png" alt="Bootstrap" width="40" height="40">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="/AdminLogin.html">Admin Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./rent1.html">Contact Us</a>
                    </li>
                </ul>


                <button class="btn btn-outline-success button" id="form-open" type="submit">Login</button>
                <!-- <button class="button" id="form-open">Login</button> -->

            </div>
        </div>
    </nav>


    <!-- <button class="rent-now">Rent A Car Now </button> -->

    <!-- navbar ended here -->

    <!-- login buttom code start from here -->

    <section class="home">
        <div class="first-image">
            <!-- <img src="images/car-images.jpg" width="100%"> -->

            <!-- changes from here -->
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

                </div>
                <div class="carousel-inner">

                  <div class="carousel-item active">
                    <img src="/images/car-images.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h1>Welcome To GoDrive</h1>
                      <p>Explore our wide range of cars and enjoy a hassle-free renting experience.</p>
                    </div>
                    </div>

                  <div class="carousel-item">
                    <img src="/images/seat7.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>FamilyRoamer</h3>
                      <p>Experience luxury and style with this elegant car designed for your comfort.</p>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/images/seat6.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>AdventureMax</h3>
                      <p> Enjoy a smooth and versatile ride with this powerful car built for all terrains.</p>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/images/seat5.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>CruiseMaster</h3>
                      <p>Embark on thrilling adventures with confidence in this rugged and capable vehicle.</p>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/images/seat4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>SleekDrive</h3>
                      <p>Travel comfortably with your loved ones in this reliable car, perfect for family trips.</p>
                    </div>
                  </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <!-- to here -->
        </div>
        <div class="hero-content">
            <h5>Choose your driver and car according to your preferences and get ready for a comfortable journey.</h5>
            
            

            <div class="get-started">
               
                <button class="btn btn-outline-success button" id="form-open1" class="Get-started" type="submit">Rent A Car now >>>></button>


            </div>

        </div>

        <div class="form_container">
            <i class="uil uil-times form_close"></i>
            <!-- Login From -->
            <div class="form login_form">
                <form action="login" method="post">
                    <h2>Login</h2>
                    <!-- // -->
                    <input type="hidden" name="redirectURL" value="/rent-car">
<!-- /// -->
                    <div class="input_box">
                        <input type="email" name="email" placeholder="Enter your email" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" name="password" placeholder="Enter your password" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check" />
                            <label for="check">Remember me</label>
                        </span>
                        <a href="#" class="forgot_pw">Forgot password?</a>
                    </div>
                    <div id="alertMessage" data-error="<%= error %>"></div>
                    <button class="button">Login Now</button>

                    <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
                </form>
            </div>

            <!-- Signup From -->
            <div class="form signup_form">
                <form action="register" method="post">
                    <h2>Signup</h2>

                    <div class="input_box">
                        <input type="text" name="name"  placeholder="Enter your name" required />
                        <i class="uil uil-name"></i>
                    </div>

                    <div class="input_box">
                        <input type="text" name="mobno"  placeholder="Enter your mobile number" required />
                        <i class="uil uil-name"></i>
                    </div>



                    <div class="input_box">
                        <input type="email" name="email" class="email" placeholder="Enter your email" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" name="password" class="password" placeholder="Create password" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    <!-- <div class="input_box">
                        <input type="password" class="password" placeholder="Confirm password" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div> -->

                    <button class="button">Signup Now</button>

                    <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>
                </form>
            </div>
        </div>


    </section>



    

    <!-- footer -->
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2023 GoDrive. All rights reserved.</p>
        </div>
    </footer>


    <script src="/js/home.js"></script>
</body>

</html>