<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Include your custom JavaScript file -->
    <script src="/js/form.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/rent1.css">
   
    <title>Rent Now</title>
</head>
<body>


      <!-- nabvar starts from here -->
      <nav class="navbar navbar-expand-lg " data-bs-theme="dark" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="./about.html">
                <img src="images/logo.png" alt="Bootstrap" width="40" height="40">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./rent1.html">Admin Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="links" aria-current="page" href="./rent1.html">Contact Us</a>
                    </li>
                </ul>


                
                

            </div>
        </div>
    </nav>

        <section class="rent-insrtuction" >

            <p >Fill out the form below to rent a car:</p>
        </section>


    <!-- form start from here -->
    <section class="rent-form">
    <form action="/rent" method="post">
        <div class="form-group">
          <label for="car-type">Car Type(number of seats):</label>
          <select id="car-type" name="carType">
            <option value="4">4-seater</option>
            <option value="5">5-seater</option>
            <option value="6">6-seater</option>
            <option value="7">7-seater</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="driver-filter">Driver</label>
          <label for="inputState" class="form-label" aria-placeholder="Language">Language</label>
          <select id="inputState" name="driverLanguage" class="form-select">
            <option selected>hindi</option>
            <option>marathi</option>
            <!-- <option>Kannada</option> -->
            <option>english</option>
          </select>
          

          

          <!-- <label for="inputState" class="form-label" aria-placeholder="Ratings">Ratings</label>
          <select id="inputState" class="form-select">
            <option selected>5</option>
            <option>4</option>
            <option>0-3</option>
          </select>
        </div> -->

        <label for="inputState" class="form-label" aria-placeholder="Starting-point">Starting Point</label>
        <select id="inputState" name="starting" class="form-select">
          <option selected>Pune</option>
          <option>Pune</option>
          <option>Sangli</option>
        </select>
      </div>
    

      <label for="inputState" class="form-label" aria-placeholder="Ending-Point">Ending Point</label>
      <select id="inputState" name="ending"  class="form-select">
        <option selected>Solapur</option>
        <option>Solapur</option>
        <option>Kolhapur</option>
      </select>
    </div>
      

        
      
        <button type="submit" class="button rent-now">Rent Now</button>
        <button type="reset" class="button reset-rent-now"> Reset</button>
      </form>
    </section>


    <footer>
        <div class="footer-bottom">
            <p>&copy; 2023 GoDrive. All rights reserved.</p>
        </div>
    </footer>
      <script src="rent1.js"></script>
      
</body>
</html>