/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

 
}

body{
  background-color: #e4eaed;
}
.navbar{
  background-color: #263238;
}
.nav-link.active-page {
  text-decoration: underline;
}

.navbar-nav .nav-link:not(.active-page) {
  text-decoration: none;
}

#links:hover{
  color:rgb(210, 208, 208);
  text-decoration: underline;
  font-weight: bold;
}
  
.container{
    margin-top: 2%;
   
}
/* this code is for .carousel */

.carousel-caption {
  color:rgb(8, 8, 8);
 
  font-weight:900;
  background-color: rgba(207, 207, 207, 0.5);
  border:0.1px  solid grey; 
  border-radius: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
  color: white;
  border-color:white ;
}
.button:hover{
  background-color: #fff;
  color: black;
}



.home {
  position: relative;
  height: 100vh;
  width: 100%;
 
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eceff1;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 20px 20px 50px grey;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #263238;;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #6c3ec7;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #6930b3;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.form_container .button:hover{
  background-color: #6930b3d6;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}


/* code for car image */

.first-image {
  margin: auto;
  box-shadow: 10px 10px 30px grey;
  margin-bottom: 3%;
}

/* code for content */
.hero-content{
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
  margin-bottom: 3%;
  font-weight: bolder;
  text-align: center;
  color:#0b0217
}
.get-started{
  margin-top: 4%;;
}
.Get-started {
  background-color: #263238;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  
  text-decoration: none;
}

.Get-started:hover {
  box-shadow: 10px 10px 30px grey;
  background-color: #000000;
  color: rgb(218, 249, 255);
 
}
#form-open1{
  background-color: black;
  padding: 2%;
}
#form-open1:hover{
  color:white;
  background-color: #607d8b;
}


.footer-bottom{
  margin-top: 10%;
text-align: center;
background-color: #263238;
/* margin-bottom:0%; */
padding: 12px;
color: white;

}


/* hero-section */




